.App {
    text-align: center;
  }
  
  table {
    margin: auto;
    border-collapse: collapse;
    width: 99%;
    height: 100%;
    box-shadow: 4px 0px 10px -2px gray; 
    border-bottom:3px solid #3d9464;
  }

  th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }
  
  th {
    background-color: #3d9464;
    color: white;
  }
  
  button {
   margin: 20px;
    padding: 10px,10px;
    background-color: #3e9465;
    color: white;
    border-radius: 5px;
    border-color: #3d9464;
    border:none;
    width: 100px;
    height: 30px;
  }
  
  button:disabled {
    border-color: #3d9464;
  }
  .page-number{
    width: 50px;
    height: 50px;
  }
 